<div class="lug-text-block">

	[#if configuration.showTitle]
		<h3 class="mb-5" data-lfr-editable-id="title" data-lfr-editable-type="text">Lorem ipsum dolor sit amet</h3>
	[/#if]

	<div class="text-3" data-lfr-editable-id="content" data-lfr-editable-type="rich-text">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum dui id ipsum lacinia scelerisque. 
			Vivamus posuere consequat venenatis. Morbi eros velit, placerat nec venenatis vel, eleifend sed massa. 
			Maecenas at elementum velit. Quisque justo risus, venenatis ut tortor a, tristique condimentum arcu. 
			Donec eu ligula eget mi ornare lobortis. Suspendisse tellus massa, molestie sed fringilla ut, gravida ac nisi. 
		</p>
	</div>

</div>