<div class="lug-section-title d-flex">
	
	<div class="d-flex align-items-center">
		<h2 class="m-0" data-lfr-editable-id="title" data-lfr-editable-type="text">Lorem ipsum</h2>
	</div>

	[#if configuration.showLink]
		<div class="ml-auto">
			<a class="lug-section-title__link text-6 mt-1" href="#" data-lfr-editable-id="link" data-lfr-editable-type="link"> 
				Ver todos 
			</a>
			<svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 5H21.5" stroke="var(--primary)"/>
				<path d="M18 1L22 5L18 9" stroke="var(--primary)"/>
			</svg>
		</div>
	[/#if]

</div>
